<html lang="pl">

<head>
  <meta charset="UTF-8">
  <title>{{ first_product_name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A page's description, usually one or two sentences.">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" media="print" onload="this.media='all'">
  {{ header|raw }}
</head>

<body data-rsssl="1">
  <div class="container container-promo shadow">
    <h1 class="heading">Twój jednorazowy rabat {{ offer_superpromo_percent }} %</h1>
    <div class="time">
      <p class="time__text">
        obowiązuje jeszcze przez: </p>
      <div id="counter" class="time__counter">
        15:00
      </div>
    </div>
    <div class="product">
      <div class="product__price">
        <p class="old-price">
          Stara cena:{{ offer_old_price }} {{ offer_currency_code }} </p>
        <p class="new-price">
          Cena promocyjna: <span class="new-price--value">
            {{ offer_price }} {{ offer_currency_code }} </span>
        </p>
      </div>
      <div class="product__image">
        <img src="{{ cdn_product_image }}" alt="{{ product_name }}" class="img-fluid">
      </div>
    </div>
    <p class="paragraph">
      Otrzymujesz wyjątkową szansę zamówienia zestawu: {{ first_product_name }} wraz z książką "Poznaj szybkie sposoby na znane choroby" w cenie obniżonej aż o
      <strong>{{ offer_superpromo_percent }} %</strong></p>
    <p class="paragraph">
      <strong>Ta oferta NIGDY nie pojawi się ponownie.</strong>
    </p>
    <p class="paragraph">
      Skorzystaj z wyjątkowej okazji i odbierz zestaw w specjalnej cenie. Promocja wyświetla się tylko Tobie i trwa jedynie 15 minut. </p>


        <!-- page: superpromo -->
        <div class="container form-desktop">
          {{ form_bottom|raw }}
        </div>



  </div>{{ footer|raw }}
</body>

</html>